<div class="row">
  <div class="col-md-4 job" ng-repeat="job in jobs">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <span class="title">{{job.title}}</span>
        <a ng-href="/#/jobs/{{job._id}}" class="action glyphicon glyphicon-cog"></a>
      </div>
      <div class="panel-body">
        {{job.body}}
      </div>
    </div>
  </div>

  <div class="col-md-4 job new">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <span class="title"></span>
      </div>
      <div class="panel-body">
        <a ng-href="/#/jobs/new">Nuevo</a>
      </div>
    </div>
  </div>
</div>