mixin navigation(active)
  nav.navbar.navbar-default
    .container
      .navbar-header
        a.navbar-brand(href="/jobs.html") MVD JS Group Job Board - Administration

      ul.nav.navbar-nav.navbar-right
        - userDetailsClass = active == "userDetails" ? "active" : ""
        li(class="#{userDetailsClass}")
          a(href="/user-details.html" clas) User Details
        - companyDetailsClass = active == "companyDetails" ? "active" : ""
        li(class="#{companyDetailsClass}")
          a(href="/company-details.html") Company Details
