#actions
  padding: 10px 0

#result
  overflow: auto;
  max-height: 500px;

#jobs
  .job
    .title
      float: left
    .action
      float: right
#job
  form
    textarea
      resize: vertical
      min-height: 300px
  .panel-body
    margin: 10px

.slider
  position: fixed
  top: 80px
  margin-right: -15px
  -webkit-transition: all 1s ease-in-out
  -moz-transition: all 1s ease-in-out
  -o-transition: all 1s ease-in-out
  transition: all 1s ease-in-out
  float: right
  .panel
    .panel-heading
      .action
        text-decoration: none

  &.closed
    right: -100%
  &.open
    right: 0%
